<a href="https://colab.research.google.com/github/Parkhayoon1221/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.To-Do List를 작성하시오.
 - 2023년 10월 19일 박하윤
 - (1) 09:20 도서관에서 책 빌리기
 - (2) 11:10 컴퓨팅적 사고와 기초코딩 수업
 - (3) 13:00 점심식사
 - (4) 14:10 교양수업
 - (5) 16:00 파이썬 공부 및 레포트 작성
 - (6) 17:40 저녁식사및 집안일 돕기
 - (7) 19:00 LoL하기

In [ ]:
print("1.To-Do List를 작성하시오.") # To-Do List 제목 출력
print("- 2023년 10월 19일 박하윤") # 작성자 정보 출력
print("(1) 09:20 도서관에서 책 빌리기") # 첫 번째 일정 출력
print("(2) 11:10 컴퓨팅적 사고와 기초코딩 수업") # 두 번째 일정 출력
print("(3) 13:00 점심식사") # 세 번째 일정 출력
print("(4) 14:10 교양수업") # 네 번째 일정 출력
print("(5) 16:00 파이썬 공부 및 레포트 작성") # 다섯 번째 일정 출력
print("(6) 17:40 저녁식사및 집안일 돕기") # 여섯 번째 일정 출력
print("(7) 19:00 LoL하기")  # 일곱 번째 일정 출력

1.To-Do List를 작성하시오.
- 2023년 10월 19일 박하윤
(1) 09:20 도서관에서 책 빌리기
(2) 11:10 컴퓨팅적 사고와 기초코딩 수업
(3) 13:00 점심식사
(4) 14:10 교양수업
(5) 16:00 파이썬 공부 및 레포트 작성
(6) 17:40 저녁식사및 집안일 돕기
(7) 19:00 LoL하기

2. 인사말 출력하기
 - 식사하셨습니까? 행님

In [ ]:
print("식사하셨습니까? 행님") # "식사하셨습니까? 행님" 메시지를 출력

식사하셨습니까? 행님

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
 - 박보검: 90점
 - 션    : 92점
 - 도룡용: 80점
 - 차은우: 99점
 - 국어 점수 순위
 - 1등 차은우
 - 2등 션
 - 3등 박보검
 - 4등 도룡용

In [ ]:
n1=input("N1의 값을 입력하시오:") # 사용자로부터 N1의 값을 입력받음
n2=input("N2의 값을 입력하시오:") # 사용자로부터 N2의 값을 입력받음
n3=input("N3의 값을 입력하시오:") # 사용자로부터 N3의 값을 입력받음
n4=input("N4의 값을 입력하시오:") # 사용자로부터 N4의 값을 입력받음
print("국어 점수 순위") # "국어 점수 순위" 메시지를 출력
print("1등",n4) # 1등의 점수를 출력
print("2등",n2) # 2등의 점수를 출력
print("3등",n1) # 3등의 점수를 출력
print("4등",n3) # 4등의 점수를 출력

N1의 값을 입력하시오:박보검 90점
N2의 값을 입력하시오:션 92점
N3의 값을 입력하시오:도룡용 80점
N4의 값을 입력하시오:차은우 99점
국어 점수 순위
1등 차은우 99점
2등 션 92점
3등 박보검 90점
4등 도룡용 80점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
n1=int(input("n1의 값을 입력하시오:")) # 사용자로부터 n1의 값을 정수형으로 입력받음
n2=int(input("n2의 값을 입력하시오:")) # 사용자로부터 n2의 값을 정수형으로 입력받음
total=n1+n2 # n1과 n2의 합을 구함
average=total/2 # 합을 2로 나누어 평균을 계산함
print(average) # 평균을 출력

n1의 값을 입력하시오:90
n2의 값을 입력하시오:92
91.0